<html>
<head>
    <meta charset="UTF-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Amaze UI Touch2</title>
    <meta name="renderer" content="webkit" />

</head>

<body>
<div id="controller">

</div>

<script id="entryport-js" src="/framework/js/3rd/require.js" data-main="/framework/js/simple/main.js" data-res-path="/client/" async="true" ></script>
</body>
</html>
