<!DOCTYPE html>
<body>


<footer  >
<div class="container" style="min-height: 100px;">
</div>
<div class="container" >
    <div  >
    <hr color="blue"/>

    <div class="row text-center"><span>2015 KOUDAI Company, Inc.</span><span class="hidden-sm hidden-xs hidden-md"> <a href="#">版权所有，不得翻录出版，违者必究</a></span> </div>
    <div class="row"><a  class="pull-right" href="#">Back to top</a></div>
    <hr color="blue"/>
    </div>
</div>

</footer>
<script src="/common/js/3rd/jquery.min.js"></script>
<script src="/common/js/3rd/bootstrap.js"></script>
<script src="/common/js/3rd/require.js" data-main="/common/js/simple/main.js" async="true" ></script>
<script>
    $(function(){
        $(".panel-heading").click(function(e){
            /*切换折叠指示图标*/
            $(this).find("span").toggleClass("glyphicon-chevron-down");
            $(this).find("span").toggleClass("glyphicon-chevron-up");
        });
    });
</script>
</body>
</html>