<!DOCTYPE html>
<html lang="en">

<body>


<div class="container">
    <div class="row navbar navbar-default navbar-inverse" role="navigation" style="padding:2px 2px">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse"
                    data-target=".navbar-responsive-collapse">
                <span class="sr-only">OK</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a href="##" class="navbar-brand">首页</a>
        </div>

        <div class="collapse navbar-collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="##">系统管理</a></li>
                <li><a href="##">商品管理</a></li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-desktop"></i>
                        <span class="menu-text">我的</span>

                        <b class="arrow icon-angle-down"></b>
                    </a>

                    <ul class="dropdown-menu">
                        <li>
                            <a href="elements.html">
                                <i class="icon-double-angle-right"></i>
                                信息设置
                            </a>
                        </li>

                        <li>
                            <a href="buttons.html">
                                <i class="icon-double-angle-right"></i>
                                退出
                            </a>
                        </li>

                    </ul>
                </li>
                </li>

            </ul>
        </div>

    </div>

    <div class="row" style="padding:2px 2px">
        <div class="col-md-2 col-lg-2 slidebar">
            <ul id="main-nav" class="nav nav-tabs nav-stacked">
                <li class="active">
                    <a href="#">
                        <i class="glyphicon glyphicon-th-large"></i>
                        首页
                    </a>
                </li>
                <li>
                    <a class="nav-header collapsed" data-toggle="collapse" data-target="#systemSetting">
                        <i class="glyphicon glyphicon-cog"></i>
                        系统管理
                        <span class="pull-right glyphicon glyphicon-chevron-down"></span>
                    </a>
                    <ul id="systemSetting" class="nav nav-list collapse secondmenu" style="height: 0px;">
                        <li><a href="#"><i class="glyphicon glyphicon-user"></i>用户管理</a></li>
                        <li><a href="#"><i class="glyphicon glyphicon-th-list"></i>菜单管理</a></li>
                        <li><a href="#"><i class="glyphicon glyphicon-asterisk"></i>角色管理</a></li>
                        <li><a href="#"><i class="glyphicon glyphicon-edit"></i>修改密码</a></li>
                        <li><a href="#"><i class="glyphicon glyphicon-eye-open"></i>日志查看</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="main-content col-md-10 col-lg-10">


            <div id="breadcrumbs row">

                <ul class="breadcrumb  col-md-8">
                    <li>
                        <i class="icon-home home-icon"></i>
                        <a href="#">首页</a>
                    </li>
                    <li class="active">控制台</li>
                </ul>
                <!-- .breadcrumb -->
                <span><div class="input-group"><input type="text" class="form-control" placeholder="Search..."><span class="input-group-addon">搜索</span></div></span>
                <!-- #nav-search -->
            </div>
            <div class="page-content">
                <%- body %>
            </div>
        </div>
    </div>

</div>

</body>
</html>
