
<!DOCTYPE html>
<html >
      
<head>
  <meta charset="UTF-8" />
 
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Amaze UI Touch2</title>
    <meta name="renderer" content="webkit" />

 
     <link rel="stylesheet" href="https://unpkg.com/amazeui-touch@1.0.0/dist/amazeui.touch.min.css"/>
</head>
<body>
  <div id="mycontainer"></div>

<script src="https://unpkg.com/react@15.3.2/dist/react-with-addons.js"></script>
<script src="https://unpkg.com/react-dom@15.3.2/dist/react-dom.js"></script>

<script src="https://unpkg.com/react-router/umd/ReactRouter.js"></script>
<script src="https://unpkg.com/amazeui-touch@1.0.0/dist/amazeui.touch.js"></script>
<script src="/resources/mobile/client/product/app.js"></script>
<!-- 
<script src='/resources/framework/js/3rd/jquery.min.js'></script>  
<script src="https://unpkg.com/react@15.3.2/dist/react-with-addons.min.js"></script>
<script src="https://unpkg.com/react-dom@15.3.2/dist/react-dom.min.js"></script>
<script src="https://unpkg.com/react-router/umd/ReactRouter.min.js"></script>

  <script src="https://unpkg.com/amazeui-touch@1.0.0/dist/amazeui.touch.min.js"></script>
  <script src="/resources/mobile/client/product/app.js"></script>
  

  <script id="entryport-js" src="/resources/framework/js/3rd/require.js" data-main="/resources/framework/js/simple/main-react.js" data-res-path="/resources/mobile/client/" async="true" ></script>
 -->
</body>
</html>
