<script id='MainTemplate' type="text/simple-template">
        <div class="panel panel-header">
            <h3 class="box-title"><?=data.moduleName?></h3>
                
        </div>
        <div class="panel panel-default">
            <!-- form start -->
            <div role="form">
                <div class="box-body">

                    
                     <div class="form-group">
                         <input type="hidden" value ="<%=data.id%>" class="form-control" id="edit-id" placeholder="Enter email">
                    </div>

                    <?
                var  columns = [];
                for (var field in data.moduleDefine){
                    var fieldName = data.moduleDefine[field].dName;
                    var fieldShow = data.moduleDefine[field].show;
                    var fieldRefer = data.moduleDefine[field].refer;
                    var keyName = field;

                    columns.push(keyName);
                    if (fieldShow=="image"){
                ?>
                    <div class="form-group">
                        <label for="exampleInputEmail1"><?=fieldName?></label>
                        <input type="text" value ="<%=data.<?=keyName?>%>" class="form-control" id="edit-<?=keyName?>" placeholder="Enter Image" />
                        <img style='display:none' name="pic" id="img-<?=keyName?>" alt="No Image!" src="" />
                    </div>

                    <form method="POST" onsubmit="return uploadCheck('<?=keyName?>')" enctype="multipart/form-data" action="/files/upload" target="hidden_frame">

                        <input id="file" type="file" name="file" onchange="changePicUrl()" />
                        <input type="submit" value="上传" />

                    </form>
                    <?}else if (fieldRefer){?>
                    <div class="form-group">
                        <label for="exampleInputEmail1"><?=fieldName?></label>
                        <select  class="form-control" id="edit-<?=keyName?>"></select>
                    </div>
                    <?}else if ((field!='id') && (field!='_id')){?>
                    <div class="form-group">
                        <label for="exampleInputEmail1"><?=fieldName?></label>
                        <input type="text" value ="<%=data.<?=keyName?>%>" class="form-control" id="edit-<?=keyName?>" placeholder="Enter email"/>
                    </div>
                    <?}}?>





         <!-- /file upload begin -->        

         <iframe name='hidden_frame' id="hidden_frame" style='display:none'></iframe>
         <!-- /file upload end -->

                </div><!-- /.box-body -->

                <div class="box-footer">
                    <button class="btn btn-primary btn-saveUpdate">保存修改</button>
                </div>
            </div>
        </div><!-- /.box -->



<script type="text/javascript">
    var currentImageFieldId = "pic-id";
    function changePicUrl(){
        var dFile = document.getElementById('file');
    }
    function uploadCheck(fieldName){
        currentImageFieldId =fieldName;
        alert(fieldName);
        return true;
    }

    function uploadSucced(msg,id,path){
        var imageShow = "img-" + currentImageFieldId;
        var imagePath = "edit-" + currentImageFieldId;
        document.getElementById(imageShow).src=path;
        $("#"+imageShow).show();
        document.getElementById(imagePath).value = path;
        alert("Successful to upload file:" + path);

    }
    //表单提交修改失败后，传回提示信息
    function uploadFailed(msg){
        alert("Failed to upload file INFO:" + msg);
    }
</script>
</script>
