<!DOCTYPE html>
<html>
<% include ./header.ejs%>
<% include header-iot.ejs%>
<body>
<div id="main">
    <div class="main-view">

    </div>
    <div class="main-footer">

    </div>
</div>
<%-body %>  <!-- -->

<% include ./footer-simple.ejs%>
</body>
</html>